# ==========================================
# Durian Leaf Detection & Classification
# ==========================================

# Classification
tensorflow==2.21.0

# Object Detection
ultralytics==8.4.164

# Web Application Interface
streamlit==1.64.0

# Image Processing

pillow>=10.0

# Data
numpy>=1.26
pandas>=2.2

# Evaluation
scikit-learn>=1.4
matplotlib>=3.8

# Configuration
pyyaml>=6.0